In [1]:
import os
import pandas as pd
os.getcwd()

'C:\\Users\\Tanmay\\Documents'

In [2]:
os.chdir('C:/Users/Tanmay/OneDrive/Documents/Thesis')
# C:\Users\Tanmay\Downloads\TweetsCOV19

Read tsv file and mention column names

In [3]:
df=pd.read_csv('TweetsCOV19.tsv',delimiter='\t',encoding='utf-8',error_bad_lines=False, names = ["tweet_id", "username", "datetime", "followers", "friends","retweets", 
                                   "favorites", "entitites", "sentiment", "mentions", "hashtags", "urls"] )
#tweets=pd.DataFrame(([df]), columns = ["tweet_id", "username", "timestamp", "followers", "friends","retweets", 
                                    # "favorites", "entitites", "sentiment", "mentions", "hashtags", "urls"])

In [4]:
df.head()

,tweet_id,username,datetime,followers,friends,retweets,favorites,entitites,sentiment,mentions,hashtags,urls
0,1178791787386814465,35234fe4a19cc1a3336095fb3780bcc1,Mon Sep 30 22:00:37 +0000 2019,619,770,0,0,null;,2 -1,null;,null;,null;
1,1178791985106153472,ea4592f39636d87af8fb4b17b7e2e4c0,Mon Sep 30 22:01:24 +0000 2019,36365,19344,13,17,nazi:Nazism:-2.742538749414189;blood money:Blo...,1 -4,null;,null;,https://twitter.com/himalayahawk/status/117766...
2,1178793230223183872,bf05d1888dd974fa4a8679c25e2ead03,Mon Sep 30 22:06:21 +0000 2019,5018,1933,0,0,vaccine:Vaccine:-2.6651530673745762;anti vaxxe...,2 -1,null;,null;,https://goo.gl/fb/uoeiPk:-:
3,1178795172206919680,eb8a99bca8945eab1d006750e9b75518,Mon Sep 30 22:14:04 +0000 2019,2219,971,0,0,muse:Muse_%28band%29:-2.1677823918620867;talki...,2 -1,null;,null;,null;
4,1178798309491822592,00695cf79d60e86a5d0f872f4358337a,Mon Sep 30 22:26:32 +0000 2019,9009,4943,26,89,people of northern ireland:People_of_Northern_...,2 -1,null;,VFS,null;

Make Positive and Negative seperate from Sentiment Column

In [5]:
df[['positive_senti','negative_senti']] = df.sentiment.str.split(" ",expand=True,)
#df.head()

Drop Sentiment Column

In [6]:
df.drop(["sentiment"], inplace=True, axis=1)
df.head()

,tweet_id,username,datetime,followers,friends,retweets,favorites,entitites,mentions,hashtags,urls,positive_senti,negative_senti
0,1178791787386814465,35234fe4a19cc1a3336095fb3780bcc1,Mon Sep 30 22:00:37 +0000 2019,619,770,0,0,null;,null;,null;,null;,2,-1
1,1178791985106153472,ea4592f39636d87af8fb4b17b7e2e4c0,Mon Sep 30 22:01:24 +0000 2019,36365,19344,13,17,nazi:Nazism:-2.742538749414189;blood money:Blo...,null;,null;,https://twitter.com/himalayahawk/status/117766...,1,-4
2,1178793230223183872,bf05d1888dd974fa4a8679c25e2ead03,Mon Sep 30 22:06:21 +0000 2019,5018,1933,0,0,vaccine:Vaccine:-2.6651530673745762;anti vaxxe...,null;,null;,https://goo.gl/fb/uoeiPk:-:,2,-1
3,1178795172206919680,eb8a99bca8945eab1d006750e9b75518,Mon Sep 30 22:14:04 +0000 2019,2219,971,0,0,muse:Muse_%28band%29:-2.1677823918620867;talki...,null;,null;,null;,2,-1
4,1178798309491822592,00695cf79d60e86a5d0f872f4358337a,Mon Sep 30 22:26:32 +0000 2019,9009,4943,26,89,people of northern ireland:People_of_Northern_...,null;,VFS,null;,2,-1

In [7]:
df.count()

tweet_id          8077794
username          8077794
datetime          8077794
followers         8077794
friends           8077794
retweets          8077794
favorites         8077794
entitites         8077794
mentions          8060108
hashtags          8074348
urls              8077783
positive_senti    8077794
negative_senti    8077794
dtype: int64

Drop Null Values from Columns

In [8]:
indexNames = df[(df['entitites'] == 'null;') | (df['mentions'] == 'null;') | (df['hashtags'] == 'null;')].index
df.drop(indexNames , inplace=True)

In [9]:
df = df.dropna()

In [10]:
df.to_csv("tweets_cleansed_final.csv")

In [11]:
df = pd.read_csv("tweets_cleansed_final.csv")

In [12]:
df.head()

,Unnamed: 0,tweet_id,username,datetime,followers,friends,retweets,favorites,entitites,mentions,hashtags,urls,positive_senti,negative_senti
0,27,1178823324358582272,9f7f0b767cadcb10d2094397012e8581,Tue Oct 01 00:05:56 +0000 2019,10,38,0,0,in my defense:In_My_Defense:-0.752799458926636...,RapUp,iggy,null;,5,-1
1,32,1178825630605029376,974df4f4955d2952a2276bd38c564b5a,Tue Oct 01 00:15:06 +0000 2019,629,2864,1,1,what just happened:What_Just_Happened_%282008_...,kie_vs_theworld,RAW,null;,1,-1
2,37,1178829427058315266,c828b062f681d12068914f0b8babf13f,Tue Oct 01 00:30:11 +0000 2019,108,4523,0,0,prob:ProB:-2.117461605582521;,Panthers Panthers,ObviousHold T BigggReward NOT!!!-💁Dah-Ha🌹 Cmon...,null;,3,-1
3,46,1178839251372380162,1cd38fa1860c93a6d9181cc26e383ce4,Tue Oct 01 01:09:13 +0000 2019,841,2214,1,0,tidal:Tidal_%28service%29:-2.277637292507596;p...,LittleBrotherNC phontigallo) RapRadar bdotTM) ...,TIDAL,https://www.youtube.com/watch?v=txen9XmTLWU&fe...,1,-1
4,47,1178839418267811846,87874649731ddeafee3df6b2ace30410,Tue Oct 01 01:09:53 +0000 2019,1169,14,8,20,more magazine:More_%28magazine%29:-2.637330890...,NCTsmtown_127,NCT127,https://more.hpplus.jp/odekake/o-news/51119:-:,2,-1

In [13]:
df[['urls']]=df[['urls']].applymap(lambda x: 0 if x=='null;' else 1)

In [14]:
df[['entitites']]=df[['entitites']].applymap(lambda x: len(x.split(":")))
df[['mentions']]=df[['mentions']].applymap(lambda x: len(x.split(" ")))
df[['hash_count']]=df[['hashtags']].applymap(lambda x: len(x.split(" ")))

In [15]:
df.head()

,Unnamed: 0,tweet_id,username,datetime,followers,friends,retweets,favorites,entitites,mentions,hashtags,urls,positive_senti,negative_senti,hash_count
0,27,1178823324358582272,9f7f0b767cadcb10d2094397012e8581,Tue Oct 01 00:05:56 +0000 2019,10,38,0,0,7,1,iggy,0,5,-1,1
1,32,1178825630605029376,974df4f4955d2952a2276bd38c564b5a,Tue Oct 01 00:15:06 +0000 2019,629,2864,1,1,3,1,RAW,0,1,-1,1
2,37,1178829427058315266,c828b062f681d12068914f0b8babf13f,Tue Oct 01 00:30:11 +0000 2019,108,4523,0,0,3,2,ObviousHold T BigggReward NOT!!!-💁Dah-Ha🌹 Cmon...,0,3,-1,6
3,46,1178839251372380162,1cd38fa1860c93a6d9181cc26e383ce4,Tue Oct 01 01:09:13 +0000 2019,841,2214,1,0,5,5,TIDAL,1,1,-1,1
4,47,1178839418267811846,87874649731ddeafee3df6b2ace30410,Tue Oct 01 01:09:53 +0000 2019,1169,14,8,20,3,1,NCT127,1,2,-1,1

In [16]:
df.count()

Unnamed: 0        677016
tweet_id          677016
username          677016
datetime          677016
followers         677016
friends           677016
retweets          677016
favorites         677016
entitites         677016
mentions          677016
hashtags          677016
urls              677016
positive_senti    677016
negative_senti    677016
hash_count        677016
dtype: int64

In [17]:
df.dtypes

Unnamed: 0         int64
tweet_id           int64
username          object
datetime          object
followers          int64
friends            int64
retweets           int64
favorites          int64
entitites          int64
mentions           int64
hashtags          object
urls               int64
positive_senti     int64
negative_senti     int64
hash_count         int64
dtype: object

Make Column to aggregrate Sentiment Value

In [18]:
df['power_of_senti'] = df['positive_senti'] + df['negative_senti']

In [19]:
df.head()

,Unnamed: 0,tweet_id,username,datetime,followers,friends,retweets,favorites,entitites,mentions,hashtags,urls,positive_senti,negative_senti,hash_count,power_of_senti
0,27,1178823324358582272,9f7f0b767cadcb10d2094397012e8581,Tue Oct 01 00:05:56 +0000 2019,10,38,0,0,7,1,iggy,0,5,-1,1,4
1,32,1178825630605029376,974df4f4955d2952a2276bd38c564b5a,Tue Oct 01 00:15:06 +0000 2019,629,2864,1,1,3,1,RAW,0,1,-1,1,0
2,37,1178829427058315266,c828b062f681d12068914f0b8babf13f,Tue Oct 01 00:30:11 +0000 2019,108,4523,0,0,3,2,ObviousHold T BigggReward NOT!!!-💁Dah-Ha🌹 Cmon...,0,3,-1,6,2
3,46,1178839251372380162,1cd38fa1860c93a6d9181cc26e383ce4,Tue Oct 01 01:09:13 +0000 2019,841,2214,1,0,5,5,TIDAL,1,1,-1,1,0
4,47,1178839418267811846,87874649731ddeafee3df6b2ace30410,Tue Oct 01 01:09:53 +0000 2019,1169,14,8,20,3,1,NCT127,1,2,-1,1,1

In [20]:
def classify_sentiment(x):
    if (x['power_of_senti'] >= 1 and x['power_of_senti'] < 4):
        return 'Positive'
    elif (x['power_of_senti'] >= 4):
        return 'High_Positive'
    elif (x['power_of_senti'] <= -1 and x['power_of_senti'] > -4):
        return 'Negative'
    elif (x['power_of_senti'] == 0):
        return 'Neutral'
    else:
        return 'Highly Negative'
df = df.assign(avg_senti=df.apply(classify_sentiment, axis=1))

In [21]:
df.head()

,Unnamed: 0,tweet_id,username,datetime,followers,friends,retweets,favorites,entitites,mentions,hashtags,urls,positive_senti,negative_senti,hash_count,power_of_senti,avg_senti
0,27,1178823324358582272,9f7f0b767cadcb10d2094397012e8581,Tue Oct 01 00:05:56 +0000 2019,10,38,0,0,7,1,iggy,0,5,-1,1,4,High_Positive
1,32,1178825630605029376,974df4f4955d2952a2276bd38c564b5a,Tue Oct 01 00:15:06 +0000 2019,629,2864,1,1,3,1,RAW,0,1,-1,1,0,Neutral
2,37,1178829427058315266,c828b062f681d12068914f0b8babf13f,Tue Oct 01 00:30:11 +0000 2019,108,4523,0,0,3,2,ObviousHold T BigggReward NOT!!!-💁Dah-Ha🌹 Cmon...,0,3,-1,6,2,Positive
3,46,1178839251372380162,1cd38fa1860c93a6d9181cc26e383ce4,Tue Oct 01 01:09:13 +0000 2019,841,2214,1,0,5,5,TIDAL,1,1,-1,1,0,Neutral
4,47,1178839418267811846,87874649731ddeafee3df6b2ace30410,Tue Oct 01 01:09:53 +0000 2019,1169,14,8,20,3,1,NCT127,1,2,-1,1,1,Positive

In [22]:
df.count()

Unnamed: 0        677016
tweet_id          677016
username          677016
datetime          677016
followers         677016
friends           677016
retweets          677016
favorites         677016
entitites         677016
mentions          677016
hashtags          677016
urls              677016
positive_senti    677016
negative_senti    677016
hash_count        677016
power_of_senti    677016
avg_senti         677016
dtype: int64

In [23]:
df.drop(["positive_senti","negative_senti"], inplace=True, axis=1)

In [24]:
df.dtypes

Unnamed: 0         int64
tweet_id           int64
username          object
datetime          object
followers          int64
friends            int64
retweets           int64
favorites          int64
entitites          int64
mentions           int64
hashtags          object
urls               int64
hash_count         int64
power_of_senti     int64
avg_senti         object
dtype: object

In [25]:
df.dropna()

,Unnamed: 0,tweet_id,username,datetime,followers,friends,retweets,favorites,entitites,mentions,hashtags,urls,hash_count,power_of_senti,avg_senti
0,27,1178823324358582272,9f7f0b767cadcb10d2094397012e8581,Tue Oct 01 00:05:56 +0000 2019,10,38,0,0,7,1,iggy,0,1,4,High_Positive
1,32,1178825630605029376,974df4f4955d2952a2276bd38c564b5a,Tue Oct 01 00:15:06 +0000 2019,629,2864,1,1,3,1,RAW,0,1,0,Neutral
2,37,1178829427058315266,c828b062f681d12068914f0b8babf13f,Tue Oct 01 00:30:11 +0000 2019,108,4523,0,0,3,2,ObviousHold T BigggReward NOT!!!-💁Dah-Ha🌹 Cmon...,0,6,2,Positive
3,46,1178839251372380162,1cd38fa1860c93a6d9181cc26e383ce4,Tue Oct 01 01:09:13 +0000 2019,841,2214,1,0,5,5,TIDAL,1,1,0,Neutral
4,47,1178839418267811846,87874649731ddeafee3df6b2ace30410,Tue Oct 01 01:09:53 +0000 2019,1169,14,8,20,3,1,NCT127,1,1,1,Positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
677011,8077723,1255957317297700864,c7ee6b06262f149448fd86c1b0ce08c2,Thu Apr 30 20:28:53 +0000 2020,0,0,0,0,3,6,coronavirus,1,1,-1,Negative
677012,8077749,1255965146461155334,7691c770a610e166f209fc6d23c1a138,Thu Apr 30 21:00:00 +0000 2020,14659,5032,2,1,7,1,FREEDOM. TTAV2020 TTAV,0,3,2,Positive
677013,8077758,1255966593710002179,562646469987e1fee34f4c9a98721f23,Thu Apr 30 21:05:45 +0000 2020,13646,29,38,30,7,1,"Amazon Chinese blacklisted US. surveillance, d...",0,7,1,Positive
677014,8077761,1255967954052800514,8cd1b349f71f989d2bf0be3d53def52e,Thu Apr 30 21:11:09 +0000 2020,11,82,0,0,7,2,sociallyconnected PhysicalDistancing,0,2,-1,Negative
677015,8077784,1255975826769788935,36cae79396e9de73ab4da66c749f6a04,Thu Apr 30 21:42:26 +0000 2020,2964,2344,0,0,3,1,coronavirus ansa,1,2,1,Positive

In [26]:
df.to_csv("tweets_transformed_new.csv")